@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="wrapper">
    <!-- Main -->
    <section class="main">
        <section>
            <header>
                <h1>About Natroral</h1>
                <p>This earth environment gives us life. It can also keep us well in every way, no exception. Seek and you will find.</p>
            </header>
            <span class="image main"><img src="~/Content/images/about-header.jpg" alt="" /></span>
            <p class="para-blog just">
                We live in an environment in which there are endless options for food. In fact, the biggest pleasure in our life is eating. We are given 32 teeth
                to bit and taste everything that is produced and good for food on this planet. If one day, one of our teeth gives us trouble, our entire life sucks.
            </p>
            <p class="para-blog just">
                Natroral offers a natural mouthwash to greatly improve some common tooth conditions that stop you enjoying good food. The product is composed of natural elements
                in form of fine powder. It is effective and powerful in helping tooth pain, gum inflammation and tooth sensitivity; moreover, it tastes better than regular mouthwash.
            </p>
            <h3>Personal Experience</h3>
            <p class="para-blog just">
                In order to express my confidence to the product, Natroral Mouthwash and Spray, I must be allowed to tell my own experience, in which I suffered a great
                deal, and then found a good solution. If you want to read my personal story, you will find something we have in common: terrible toothache and deformed face.
            </p>
            <p class="para-blog just">
                <span class="image left"><img src="~/Content/images/me.jpg" alt="about img" /></span>
                I suffered severe tooth pain on my two teeth. My dentist recommanded me - with everything that he experienced and he knew - to do root canal to my both teeth.
                At that time, I did not know what it meant by Root Canal. I did some reading and decided I would not go that way. Like many people,
                I have been seeking natural remedies as alternative healing solutions.
            </p>
            <p>
                Teeth are extended bones. Since I believe bones can grow back, I also believe a tooth may grow back as well. Thank all information is available nowadays,
                I did some research on commonly used herbs and cooking spices, and discovered and developed a herbal compound. Tested a few months to see the effect; made some
                changes on the element until the one you see now, Natroral. Using the product almost a year, I have had my both teeth recovered.
            </p>
            <p class="para-blog just">
                At very beginning, I used my mouthwash two to three times a day. After the pain was gone, I only use it when I think of it. Now, I may eat any food and drink any liquid
                I have craving for, and nothing bothers my teeth. Plus, my teeth are cleaner and stronger.
            </p>
            <h3>Confidence</h3>
            <p class="para-blog just">
                A few months ago, I felt a high sensitivity at the root of my tooth. Examined it myself and saw gum recession. I applied my mouthwash powder on the exposed root for a few days, and the trouble was totally gone. Examined again, the gum grew back.
            </p>
            <p class="para-blog just">
                A receding gum must be caused by erosion due to accumulated bacteria. In my herbal mouthwash, there are more than one elements that are antibacteria. So it works well.
            </p>
            <p class="para-blog just">
                There are many people who are suffering tooth problems, and seeking for natural remedies. I think my discovery may greatly help these people. My desire is that no body in this world shall suffer from tooth problem. Everyone shall have good teeth all life long. Let us together find that perfect solution.
            </p>
            <p class="para-blog just">With confidence, I brought my mouthwash to my family, friends, and even my neighbors.</p>
            <p class="para-blog just">"Do you have tooth problem? Try this!"</p>
            <p class="para-blog just">They are amazed by the result. </p>
            <blockquote>
                "A few days ago, my husband got a swallen gums. He applied some powder that you gave to me on it at night. And the very next morning,
                the inflammation was gone! He wants me to thank you."<br /><br />
                "Your mouthwash is super! I had more than two sensitive teeth. Used your magical powder for a week. The sensitivity is no longer there."<br /><br />
                "I told you I had a few long-lasting tooth proplems. Followed your instruction, I used your mouthwash in my Waterpik for a week, now I have felt a great improvement."
            </blockquote>
            <h3>Good thing shall be shared!</h3>
            <p class="para-blog just">
                Do you have tooth or gums problem? Are you seeking for alternative solutions? Try Natroral mouthwash or gum spray. 
                You may read more about the product <a href="/Home/ProductListing">here</a>. 
            </p>
        </section>
    </section>
</div>