
@{
    ViewBag.Title = "Thank You";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="wrapper">
    <section class="main">
        <section>
            <div class="row paddings">
                <div class="off-2 col-8 off-1-small col-12-small">
                    <header>
                        <h1>@ViewBag.Title</h1>
                    </header>
                    <p>Thank you for making an order with us.</p>
                    <p>Your Order Id = @ViewBag.OrderId. <br /><br />
                    You may view your order history at your account.</p>
                </div>
            </div>
        </section>
    </section>
</div>

