@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<div class="wrapper">
    <section class="main">
        <section>
            <div class="row gtr-200">                
                <div class="col-8 off-2 col-12-small off-1-xsmall">
                    <header>
                        <h1>@ViewBag.Title</h1>
                    </header>
                    <p>
                        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </p>
                </div>              
            </div>
        </section>
    </section>
</div>