
@{
    ViewBag.Title = "Blog List";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="wrapper">
    <section class="main">
        <section>
            <header>
                <h2>@ViewBag.Title</h2>
            </header>
            <br />
            <div class="row paddings">
                <div class="col-3 col-12-xsmall">
                    <a href="/Blog/HowItWorks"><img src="~/Content/images/blog-thumb-how.jpg" class="image fit"></a>
                </div>
                <div class="col-9 col-12-xsmall">
                    <h3>How Does Natroral Work?</h3>
                    <p class="prod-desc"><i>Posted on May 25, 2020</i></p>
                    <p class="prod-desc just">
                        Natroral is created based on research to rebuild our teeth. It has been proven in practice that it produces expected result.
                    </p>
                    <p class="prod-desc just">
                        Natroral mouthwash is composed of minerals and herbs, which not only cleanses your mouth, but also fights against bacteria,
                        anti-inflammation and help bones and gums grow. Here are five components of many and their work.
                    </p>
                    <a href="/Blog/HowItWorks" class="button">Read This Blog </a>
                    <br />
                </div>
            </div>
            <hr />
            <div class="row paddings">
                <div class="col-3 col-12-xsmall">
                    <a href="/Blog/CleanTeeth"><img src="~/Content/images/blog-thumb-clean.jpg" class="image fit"></a>
                </div>
                <div class="col-9 col-12-xsmall">
                    <h3>5 Effective Ways to Clean Your Teeth</h3>
                    <p class="prod-desc"><i>Posted on May 18, 2020</i></p>
                    <p class="prod-desc just">
                        How do you clean your teeth?<br />
                        This simple question can be answered by a 5-year old. “I brush my teeth twice a day!” or “I floss my teeth every evening!” All these are common ways.
                        They are good ways, but not enough. In our daily action as such, there lies a deep science.
                    </p>
                    <p class="prod-desc just">
                        Here are 5 effective ways to clean your teeth. I will start from the easiest one.
                    </p>
                    <a href="/Blog/CleanTeeth" class="button">Read This Blog </a>
                    <br />
                </div>
            </div>
            <hr />
            <div class="row paddings">
                <div class="col-3 col-12-xsmall">
                    <a href="/Blog/MintForTeeth"><img src="~/Content/images/blog-thumb-mint.jpg" class="image fit"></a>
                </div>
                <div class="col-9 col-12-xsmall">
                    <h3>How to Relieve Tooth Pain with Mint</h3>
                    <p class="prod-desc"><i>Posted on May 22, 2020</i></p>
                    <p class="prod-desc just">
                        How to Relieve Tooth Pain with Mint
                        <br />
                        Mint is widely used in oral products in the market. Most of mouthwash and chewing gums contain mint or mint oil.
                        These products are labeled for building healthy teeth and refreshing breath. There is a long history in many cultures in which people use mint to relieve tooth pain.
                        There are reasons for it.
                    </p>
                    <p class="prod-desc just">
                        Mint contains menthol. It is an anti-bacterial element, helps deactivate bacterial that causes tooth ache. It is a natural remedy to relieve the pain.
                    </p>

                    <a href="/Blog/MintForTeeth" class="button">Read This Blog </a>
                    <br />
                </div>
            </div>
        </section>
    </section>
</div>