
@{
    ViewBag.Title = "CleanTeeth";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<div class="wrapper">
    <section class="main">
        <section>
            <header>
                <h1>5 Effective Ways to Clean Your Teeth </h1>
            </header>
            <br />
            <p class="just para-blog">
                How do you clean your teeth?
                This simple question can be answered by a 5-year old. “I brush my teeth twice a day!” or “I floss my teeth every evening!”
                All these are common ways. They are good ways, but not enough. In our daily action as such, there lies a deep science.
            </p>
            <p class="just para-blog">
                Here are 5 effective ways to clean your teeth. I will start from the easiest one.
            </p>
            <h3>1. Rinse Your Mouth with Water After Eating.</h3>
            <p class="just para-blog">
                <span class="image right"><img src="~/Content/images/blog-header-water.jpg" alt="blog on clean" /></span>
                It is a very good practice to rinse your mouth with water after each meal. Rinse it with force to remove all residues of food and drink between teeth.
                This practice also takes away any micro substances that are stuck at the junction of enamel and gums. This is a prevention method.
            </p>
            <h3>2. Brush Your Teeth Correctly.</h3>
            <p class="just para-blog">
                A good way to brush your teeth is to do it in both horizontal and vertical directions. Brushing horizontally removes stains on the surface
                of your teeth; brushing vertically eliminates residues between two teeth. Therefore, both directions are necessary.
                Also, you want to brush both inside and outside.
            </p>
            <p class="just para-blog">
                When you brush vertically, don’t do it up and down, but only move your brush toward the top of your teeth.
                Yes, that’s right, not toward the root, but only top. This is crucial if you don’t want your gums to start peeling of the root of your teeth.
                I had a bad experience and learnt it a hard way.
            </p>
            <h3>3. Floss Your Teeth with Water Flosser.</h3>
            <p class="just para-blog">
                <span class="image right"><img src="~/Content/images/blog-waterpik.jpg" alt="blog on cleaning teeth" /></span>
                That’s right: floss your teeth with water flosser, not dental floss. Do it daily before you go to bed. Have you played with a
                high-pressure water spray to wash your car? With pressure water, nothing can stay on a car, yet the surface of the car remains perfect.
                Water flosser performs on your teeth in the same way. It removes 99.9% of plaques, and not damage tiny bit of your gums.
                I have been using a water flosser for almost two years, my teeth are healthy and happy without see a hygienist.
            </p>
            <p class="just para-blog">
                When you brush vertically, don’t do it up and down, but only move your brush toward the top of your teeth.
                Yes, that’s right, not toward the root, but only top. This is crucial if you don’t want your gums to start peeling of the root of your teeth.
                I had a bad experience and learnt it a hard way.
            </p>
            <h3>4. Rinse Your Mouth with Oil.</h3>
            <p class="just para-blog">
                This method is commonly called "Oil Pulling", a troditional way to clean teeth. It can be coconut oil or olive oil.
                In my personal experience, oil-pulling for cleaning teeth is natural and effective.
            </p>
            <p class="just para-blog">
                Oil is a strong solvent. It is used to melt styrofoam and plastic. When oil stays in your mouth for 5 minutes,
                most of teeth plaque is softened or melted. After, you may easily brush away unwanted substance on your theeth.
            </p>
            <p class="just para-blog">
                You may simply take in a teaspoon of oil at your choice, mix with a bit air to rinse your mouth.
                Let the oil stay for 5 minutes, then spit out. It is important to brush your teeth with toothpast after. This will make all your teeth smooth and clean.
            </p>
            <h3>5. Brush Your Teeth with Baking Soda and Lemon</h3>
            <p class="just para-blog">
                If you find your teeth yellow beige and you want it to be white, you may try this recipe. Take a teaspoon of baking soda and put in a small bowl;
                add one drop of lemon juice. Stir the mix into paste and use it to brush your teeth. Shortly, rinse it off.
                I used this way to whiten my teeth, and find it helps a lot.
            </p>
            <p class="just para-blog">
                Be cautious with lemon juice since it is a strong acid. Make the mix stay on your teeth less than 30 seconds.
            </p>
            <p class="just para-blog">
                That is all. You may choose the way to clean your teeth as you want. But it is important to take care all your teeth in daily basis
                so that you won’t have big trouble that kills one or two of them. In any case, your teeth are your best friends all life long.
                Love them as you love your eyes.<br />
            </p>
            <p class="paddings">
                <a href="/Home/ProductListing" class="button">Discover Natroral Products</a>
            </p>
        </section>
    </section>    
</div>