
@{
    ViewBag.Title = "How It Works?";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<div class="wrapper">
    <section class="main">
        <section>
            <header>
                <h1>How Does Natroral Work?</h1>
                <p>Thank our planet Earth! Natural ingredients nurture us, as well they are able to heal us. </p>
            </header>
            <br />
            <span class="image main"><img src="~/Content/images/blog-header-how.jpg" alt="blog img TCM" /></span>
            <h2>A fairytale in a mountain</h2>
            <p class="just para-blog">
                One day in a fall, I did hiking with some friends in a mountain. We walked along a stream where water, rocks and vegetation furnished a
                spectacular view. As we all know, where water and rocks are, where we find great flourish of life. Here, wild apple trees, berry bushes,
                hazelnut bushes, kinds of flowers, moss, mint, and unknown herbs grew in their kind. Butterflies and dragonflies, dancing around, picked
                up exactly what they wanted. I felt a great energy flowing through me, and an appreciation burst out from me. Suddenly, a voice spoke to me, as clear as a melody.
            </p>
            <p class="just para-blog">
                "You are not different from us. You are another form of water, rock and vegetation."
            </p>
            <p class="just para-blog">
                From what I learnt in school, I admitted that this statement is true. In spite of countless species and life forms, this world is composed
                of nothing more than water and rock.
            </p>
            <h2>A product that serves</h2>
            <p class="just para-blog">
                If it is true, and it is, that we are another form of rock and vegetation, then, rock and vegetation should build us.
                Here it is: Natroral is created based on research to rebuild our teeth. It has been proven in practice that it produces expected result.
            </p>
            <p class="just">
                Natroral mouthwash is composed of minerals and herbs, which not only cleanses your mouth, but also fights against bacteria, anti-inflammation and help bones and gums grow.
                Here are five components of many and their work.
            </p>
            <h3>Gypsum </h3>
            <p class="just para-blog">
                Gypsum is non-toxic mineral. It is widely used in brewing industry and as a dietary source of calcium. Typically, it is used in toothpaste everywhere in the world.
            </p>
            <p class="just para-blog">
                According to research and practice of ancient Chinese Herbal Medicine, gypsum may help the symptoms that are caused by excessive body heat, including to stop blooding,
                remedy long-standing ulcers, calm irritated skin, and to help bones grow.
            </p>
            <p class="just para-blog">
                Teeth are extended bones. Therefore, gypsum is certainly a good help.
            </p>
            <h3>Sea salt</h3>
            <p class="just para-blog">
                Sea salt is raw salt, a great source of minerals. Not only it assists our body to dehydrate, supplies minerals and balances our electrolytes,
                as well it has other healing properties.
            </p>
            <p class="just para-blog">
                Sea salt is a natural antibacterial and anti-inflammation element. In human history, it is almost a specie’s instinct that when medicine is not available,
                a man spreads salt on his wound. It is also a great helper in muscle recovery and movement.
            </p>
            <p class="just para-blog">
                <h3>Prickly ash peel</h3>
            </p>
            <p class="just para-blog">
                In some <a href="https://www.healthline.com/nutrition/prickly-ash" target="_blank">research that has been done</a>, people have found that prickly ash are widely used
                in medical treatment, such as toothaches, ulcers, wounds, and fungal infections.
            </p>
            <p class="just para-blog">
                <span class="image right"><img src="~/Content/images/blog-how-prickly.jpg" alt="prickly ash img" /></span>
                Prickly ash peel is commonly used as spice in cooking. Its recognized properties are,
            </p>
            <ul>
                <li>Antibacteria and anti-inflammation</li>
                <li>Kill tiny bugs in tooth cavity</li>
                <li>Suppress the development of bacteria</li>
                <li>Easy pain and skin itching</li>
            </ul>
            <p class="just para-blog">
                It is specifically effective for tooth pain.
            </p>
            <h3>Mint</h3>
            <p class="just para-blog">
                Needless to say that mint is the basis of almost all tooth products. There is reason behind. Put onside its long listing benefits in internal use,
                let us talk about the external use.
            </p>
            <p class="just para-blog">
                Mint tastes good. It refreshes mouth and breath. The mint oil may stay long in a mouth and it is pleasant. It is also an anti-bacterial element, helps deactivate bacterial
                that causes tooth ache and throat inflammation. It is a natural remedy to relieve a pain.
            </p>
            <p class="just para-blog">Read more about mint <a href="~/Views/Blog/MintForTeeth.cshtml"> here</a>.</p>
            <h3>Yerba de tajo</h3>
            <p class="just para-blog">
                Yerba de tajo is also known as Eclipta Alba. It is widely commonly used in medical practice for injury in Traditional Chinese Medicine (TCM) for thousands of years.
                It has mild nature, known for treating the ailments related to blood, internal or external. It is also used to strengthen loose teeth.
            </p>
            <p class="just para-blog">
                The other properties include: it increases coronary flow; it is a good antioxidant, and promotes hair growth and makes hair darker.
            </p>
            <h2>Summary</h2>
            <p class="just para-blog">
                The above five elements are highlighted to depict the nature of Natroral products. It is not only natural, friendly, but also effective for common tooth and gums related issues.
                For someone like you who is seeking strong teeth and healthy gums in natural remedy, Natroral is certainly a good choice.
            </p>
            <p class="paddings">
                <a href="/Home/ProductListing" class="button">Discover Natroral Products</a>
            </p>
        </section>
    </section>
</div>