
@{
    ViewBag.Title = "MintForTeeth";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="wrapper">
    <section class="main">
        <section>
            <header>
                <h1>How to Relieve Tooth Pain with Mint</h1>
            </header>
            <br />
            <span class="image main"><img src="~/Content/images/blog-header-mint.jpg" alt="blog on mint" /></span>
            <p class="just para-blog">
                Mint is widely used in oral products in the market. Most of mouthwash and chewing gums contain mint or mint oil.
                These products are labeled for building healthy teeth and refreshing breath. There is a long history in many cultures in which people use mint to relieve tooth pain.
                There are reasons for it.
            </p>
            <h3> Features of Mint</h3>
            <p class="just para-blog">
                Mint contains menthol. It is an anti-bacterial element, helps deactivate bacterial that causes tooth ache. It is a natural remedy to relieve the pain.
            </p>
            <p class="just para-blog">
                Mint is recognized antioxidant. It is a substance that removes potentially damaging oxidizing agents in a living organism. It may greatly improve gums
                conditions by its anti-inflammation nature.
                Mint may sooth and calm an upset stomach. It has a cooling feature. Most of tooth pain is caused by inner body heat that is induced by certain food or drinks,
                such as spicy food or coffee. The in-balance leads
            </p>
            <p class="just para-blog">
                Mint may sooth and calm internal heat. It has a cooling feature. Most of tooth pain is caused by inner body heat that is induced by certain food or drinks,
                such as spicy food or coffee.
                The in-balance leads to development of oral bacterial and infections. Mint helps balance the condition; therefore, reduce tooth pain.
            </p>
            <p class="just para-blog">
                With strong smell and taste, mint refreshing breath. Mint oil has a soaking capability. It stays in your mouth for a while. If you are not that confident
                with your breath, before talking to people,
                you might want to wash your mouth with mint water or put two drops of mint oil in your mouth.
            </p>
            <h3>How to Use Mint</h3>
            <p class="just para-blog">
                <span class="image right"><img src="~/Content/images/mint-tea.jpg" alt="mint tea" /></span>
                Fresh mint and mint extraction both can be used either internally or externally.
            </p>
            <ul>
                <li>
                    Make mint paste. Collection some fresh mint – one stalk shall be enough, and wash off dirt and sand. Let it dry off water from the surface.
                    Cut the leaves and stalk into small pieces and smash it into paste. Apply the paste onto the spot in your mouth where irritates you.
                </li>
                <li>
                    Use mint oil. Mint oil can be found in some supermarkets or drug stores. Get the one with drop tube. Apply two drops of the oil to the tooth
                    or gum that gives you pain, a few times a day as needed.
                </li>
                <li>
                    Make mint smoothy. Blend a few mint leaves into your fruit or vegetation smoothy. It is a super drink in summer.
                </li>
                <li>
                    Drink mint tea. Take a few fresh mint or peppermint leaves and put them in a boiled water, the boiling water is better.
                    When it cools down, drink the tea. This will help the tooth pain from inside out.
                </li>
                <li>
                    Prepare a salad with mint. In your salad, add a few fresh mint leaves. Not only it benefit your tooth problem, but also it makes your meal delicious.
                </li>
                <li>
                    Cook soup with mint. Chop fresh mint leaves into slices, and add them into your soup at the end.
                </li>
            </ul>
            ­<span class="image fit">

            </span>
            <h3>Balance from Inside Out</h3>
            <p class="just para-blog">
                Quite a few tooth illnesses, such as jawbone swelling and broken enamal, are caused by negative emotions. A problem goes from mind to body, then reflected in teeth.
                The biggest tooth killer is strong anxiety. That fire of stagnation burns out the flow of life force towards oral organism. In such case, mint may be a good help. But the root healing is to
                remedy your emotions with a peace of mind. When you understand this, it is the beginning of your recovery.
            </p> ­
            <h3>Summary</h3>
            <p class="just para-blog">
                If your tooth problem is mild, and you have small swelling in your gums, you may try fresh mint. If it does not help, you might want to see
                your dentist. Another option for you is natural remedy.  Our products can be a good option. They contain mint.
                When you use mint alone, the effect is mild; when you combine mint with other herbs and natural elements, it makes difference.<br />
            </p>
            <p class="paddings">
                <a href="/Home/ProductListing" class="button">Discover Natroral Products</a>
            </p>
        </section>
    </section>    
</div>





